/*
 * © Dino Civovic - 2018
 *  Style for About Us Page - Acme project
 */

/* Global */

.dark{
  padding: 15px;
  background-color: #35424e;
  margin: 10px 0;
  color: #ffffff;
}

/* Sidebar */

#sidebar{
  float: right;
  width: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Article */

#main-col{
  float: left;
  width: 65%;
}

/* Breakpoints */

@media (max-width: 768px) {

  /* Article */

  #main-col{
    float: none;
    width: 100%;
  }

  /* Sidebar */

  #sidebar{
    float: none;
    width: 100%;
  }
}
















