/*
 * © Dino Civovic - 2018
 *  Style for Home Page - Acme project
 */

/* Global */

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.orange a , .orange{
  color: #e8491d;
  font-weight: bold;
}
ul{
  margin: 0;
  padding: 0;
}
.button_1{
  height: 40px;
  background-color: #e8491d;
  border:none;
  padding: 0 20px;
  color: #ffffff;
  cursor: pointer;
}

/* Header */

header{
  background: #35424e;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;

  #branding{
    float: left;

    h1{
      margin: 0;
    }
  }

  nav{
    float: right;
    margin-top: 10px;
    li{
      padding: 0 20px 0 20px;
      float: left;
      display: inline;
    }
    a{
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
    }
    a:hover{
      color: #cccccc;
      font-weight: normal;
    }
  }
}

/* Showcase */

#showcase{
  min-height: 400px;
  background: url("../images/showcase.jpg") no-repeat center;
  text-align: center;
  color: #ffffff;

  h2{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
  }
  p{
    font-size: 20px;
  }
}

/* Newsletter */

#newsletter{
  padding: 15px;
  color: #ffffff;
  background: #35424e;
  h2{
    float: left;
  }
  form{
    float: right;
    margin-top: 15px;
  }
  input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
  }
}

/* Boxes */

#boxes{
  margin-top: 20px;
  .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
    img{
      width: 90px;
    }
  }
}

/* Footer */

footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background: #e8491d;
  text-align: center;
}

/* Breakpoints */

@media (max-width: 768px) {

  /* Header */

  header #branding, header nav, header nav li{
    float: none;
    text-align: center;
    width: 100%;
  }
  header{
    padding-bottom: 20px;
    nav li{
      padding: 0 8px;
    }
  }

  /* Showcase */

  #showcase{
    h2{
      margin-top: 40px;
      font-size: 40px;
    }
  }

  /* Newsletter */

  #newsletter{
    h2{
      float: none;
      text-align: center;
    }
    form{
      float: none;
    }
    input[type="email"]{
      width: 100%;
      margin-bottom: 5px;
    }
    .button_1{
      width: 100%;
    }
  }

  /* Boxes */

  #boxes{
    .box{
      float: none;
      width: 100%;
      padding: 0;
    }
  }
}
