/*
 * © Dino Civovic - 2018
 *  Style for Services Page - Acme project
 */

/* Services */

#services{
  li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
    display: block;
  }
}

/* Sidebar - on Services */

.quote{
  input , textarea{
    width: 90%;
    padding: 5px;
  }
}






















